@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.woff2") format("woff2"), url("./fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Bold.woff2") format("woff2"), url("./fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: #918ca4;
}

h1,
h2,
h3 {
  color: #1b0760;
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  p {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

a {
  text-decoration: none;
}

.link-arrow {
  color: #ff3400;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  -webkit-transition: margin-left 0.15s ease-in-out;
  transition: margin-left 0.15s ease-in-out;
}

.link-arrow:hover::after {
  margin-left: 7px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  color: #fff;
  background-color: #2584ff;
}

.badge--secondary {
  color: #fff;
  background-color: #00d9ff;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.6rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

.list {
  list-style: none;
  padding-left: 0;
  color: #1b0760;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 2rem;
}

.list--tick .list__item {
  padding-left: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0rem;
  }
}

.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: #2584ff;
}

.icon-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f9fa;
  border-radius: 100%;
  width: 64px;
  height: 64px;
}

.btn {
  margin: 1rem 0;
  border-radius: 5rem;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 2rem 3rem;
  text-align: center;
  white-space: nowrap;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.btn--accent {
  background-color: #ff3400;
  color: white;
}

.btn--accent:hover {
  background-color: #d62c00;
}

.btn--primary {
  background-color: #2584ff;
  color: white;
}

.btn--primary:hover {
  background-color: #006dfb;
}

.btn--secondary {
  background-color: #00d9ff;
  color: white;
}

.btn--secondary:hover {
  background-color: #00b6d6;
}

.btn--outline {
  background-color: transparent;
  border: 2.5px solid #1b0760;
  color: #1b0760;
}

.btn--outline:hover {
  background-color: #1b0760;
  color: white;
}

.btn--fit-content {
  width: auto;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

.input {
  -webkit-box-shadow: 0 0 10px #dadada;
          box-shadow: 0 0 10px #dadada;
  border: 1px solid #ccc;
  border-radius: 30px;
  color: #1b0760;
  padding: 1.5rem 3.5rem;
  outline: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  justify-self: center;
  font-size: 1.8rem;
}

.input::-webkit-input-placeholder {
  color: #cdcbd7;
}

.input:-ms-input-placeholder {
  color: #cdcbd7;
}

.input::-ms-input-placeholder {
  color: #cdcbd7;
}

.input::placeholder {
  color: #cdcbd7;
}
/*# sourceMappingURL=style.css.map */