$colorPrimary: #2584ff;
$colorSecondary: #00d9ff;
$colorAccent: #ff3400;
$colorHeadings: #1b0760;
$colorBody: #918ca4;
$colorBodyDarker: #5c5577;
$colorBorder: #ccc;
$colorTitleDarker: #393939;
$colorDarkGrayBg: #232323;
$borderRadius: 30px;
