.block-domain__heading {
  font-size: 4rem;
  text-align: center;
  line-height: 1;
}
.block-domain__tagline {
  font-size: 2rem;
  text-align: center;
  margin: 2rem;
}
.block-domain__price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 60px);
  @media screen and (min-width: $mediaBreakPoiontMedium) {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  li {
    width: fit-content;
    justify-self: center;
    align-self: center;
    font-size: 2rem;
    margin-top: 0;
    font-weight: bold;
  }
}
