.hero {
  @media screen and (min-width: $mediaBreakPoiontMedium) {
    padding-top: 0;
  }
}
.hero__img {
  width: 90%;
  justify-self: center;
}
.hero__heading {
  font-size: 8rem;
  color: #fff;
  line-height: 1;
  @include tablet-and-desktop {
    font-size: 6rem;
  }
}
.hero__description {
  font-size: 2rem;
  color: #b9c3cf;
  margin-top: 2rem;
  letter-spacing: 1px;
}
.hero__btn {
  margin-top: 3rem;
  width: fit-content;
}
.hero__header {
  text-align: center;
  @media screen and (min-width: $mediaBreakPoiontMedium) {
    align-self: center;
    text-align: left;
  }
}
