.input {
  border: 1px solid $colorBorder;
  color: $colorHeadings;
  outline: none;
  display: inline-flex;
  justify-self: center;
  font-size: 2rem;
  white-space: nowrap;
  &::placeholder {
    color: #cdcbd7;
  }
}

.input-group {
  max-width: 760px;
  border: 0;
  box-shadow: 0 0 30px 20px #e6ebee;
  border-radius: $borderRadius;
  padding-left: 0rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  @media screen and (min-width: 760px) {
    margin-left: auto;
    margin-right: auto;
  }
}
.input-group .icon-container {
  flex-shrink: 0;
}

.input-group .input {
  padding-left: 2rem;
  width: 0; //重点
  flex-grow: 1;
  border: none;
}

.input-group .btn {
  display: flexbox;
  justify-content: center;
  align-items: center;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  margin-right: 0.4rem;
  flex-shrink: 0;
  flex-grow: 0;
}

.input-group .btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  fill: #ffffff;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.8rem;
  }
}
