.media {
  display: flex;
}
.media__image {
  margin: 1.5rem;
}
.media__title {
  color: #fff;
  margin-top: 0;
  font-size: 3rem;
  font-weight: bold;
  @include tablet-and-desktop {
    font-size: 2.5rem;
  }
}
.media__description {
  margin-top: 0.5rem;
  margin-bottom: 4rem;
  color: #7b858b;
  font-size: 2rem;
  @include tablet-and-desktop {
    font-size: 1.8rem;
  }
}
