.navigation-bar {
  .collapsible__content {
    @media screen and (min-width: $mediaBreakPoiontMedium) {
      //On PC
      //Make sure the menu items are always visible when it on PC.
      max-height: 100vh;
      opacity: 1;
    }
  }
  .collapsible--expanded {
    .navigation__toggler {
      //Add click effect, when the toggler is expanded.
      opacity: 1;
      border-radius: 3px;
      box-shadow: 0 0 0px 3px #666;
    }
  }
}

.navigation__collapsible {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: $mediaBreakPoiontMedium) {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}

.navigation__logo {
  margin: 1rem;
  width: 150px;
  height: auto;
}

.navigation__toggler {
  transform: rotate(0);
  opacity: 0.8;
  margin-right: 1rem;
  display: none;
  @media screen and (max-width: $mediaBreakPoiontMedium) {
    display: block;
  }
}
.navigation__menu {
  //.list
  .list__item {
    opacity: 0.8;
    cursor: pointer;
    transition: opacity 0.3s;
    &:hover {
      opacity: 1;
    }
    @media screen and (max-width: $mediaBreakPoiontMedium) {
      //On Mobile
      border-bottom: 1px solid $colorDividerLine;
      margin-top: 1rem;
      margin-left: 0.5rem;
      padding-left: 2rem;
      padding-bottom: 1rem;
      display: block;
    }
  }
}

//skins
.navigation-bar--dark {
  background-color: black;
  .list__item {
    color: white;
    font-size: 1.6rem;
    @media screen and (max-width: $mediaBreakPoiontMedium) {
      font-size: 2rem;
    }
  }
}
