<section class="block block--gray block-footer">
  <div class="container grid grid--1x2">
    <ul class="block-footer__collapibles">
      <li>
        <div class="collapsible collapsible--dark-gray">
          <header class="collapsible__header">
            <h3 class="collapsible__heading">PRODUCTS</h3>
            <svg class="icon icon--white collapsible__icon">
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </header>
          <ul class="list collapsible__content">
            <li>About</li>
            <li>Affiliates</li>
            <li>Blog</li>
            <li>Change it later</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="collapsible collapsible--dark-gray">
          <header class="collapsible__header">
            <h3 class="collapsible__heading">COMPANY</h3>
            <svg class="icon icon--white collapsible__icon">
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </header>
          <ul class="list collapsible__content">
            <li>About</li>
            <li>Affiliates</li>
            <li>Blog</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="collapsible collapsible--dark-gray">
          <header class="collapsible__header">
            <h3 class="collapsible__heading">SUPPORT</h3>
            <svg class="icon icon--white collapsible__icon">
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </header>
          <ul class="list collapsible__content">
            <li>About</li>
            <li>Affiliates</li>
            <li>Blog</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="collapsible collapsible--dark-gray">
          <header class="collapsible__header">
            <h3 class="collapsible__heading">DOMAINS</h3>
            <svg class="icon icon--white collapsible__icon">
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </header>
          <ul class="list collapsible__content">
            <li>About</li>
            <li>Affiliates</li>
            <li>Blog</li>
          </ul>
        </div>
      </li>
    </ul>
    <header class="block-footer__header">
      <img src="images/logo.svg" alt="" class="block-footer__logo" />
      <p class="block-footer__tagline">Copyright 2022 Jinhan Du DUIT Company</p>
    </header>
  </div>
</section>
