<section class="block block--dark block--stretched-left hero">
  <div class="container grid grid--1x2">
    <div class="hero__header">
      <h2 class="hero__heading">Cloud Hosting for Pros</h2>
      <p class="hero__description">
        Deploy your websites in less than 60 seconds.
      </p>
      <a href="#" class="btn btn--block btn--accent btn--stretched hero__btn"
        >GET STARTED</a
      >
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="
          ./images/optimized/banner.webp    1x,
          ./images/optimized/banner@2x.webp 2x
        "
      />
      <source
        type="image/png"
        srcset="
          ./images/optimized/banner.png    1x,
          ./images/optimized/banner@2x.png 2x
        "
      />
      <img class="hero__img" src="./images/optimized/banner.png" alt="" />
    </picture>
  </div>
</section>
