<section class="block block--dark block--stretched-right">
  <div class="container">
    <header>
      <h2 class="block__heading showcase__heading">
        User-friendly Control Panel
      </h2>
    </header>
    <div class="showcase__content">
      <div class="grid grid--1x2 showcase__grid">
        <div class="showcase__img-container">
          <img
            class="showcase__img"
            src="/images/img-block-showcase/ipad@2x.png"
            alt="A picture of an iPad"
          />
        </div>
        <div class="showcase__medias">
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#snap"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Easy Start & Managed Updates</h3>
              <div class="media__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                quisquam, ex nostrum vero voluptates dicta excepturi vel
                perspiciatis consequuntur ab.
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#growth"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Easy Start & Managed Updates</h3>
              <div class="media__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                quisquam, ex nostrum vero voluptates dicta excepturi vel
                perspiciatis consequuntur ab.
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#wordpress"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Easy Start & Managed Updates</h3>
              <div class="media__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                quisquam, ex nostrum vero voluptates dicta excepturi vel
                perspiciatis consequuntur ab.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
