<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__title">Ready to get start?</h2>
      <p class="callout__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sit
        suscipit, impedit praesentium ad nemo iste magni laboriosam, consequatur
        excepturi perspiciatis eligendi dolor, fuga culpa pariatur enim sunt
        nostrum officia!
      </p>
    </div>
    <a class="btn btn--secondary btn--stretched callout__btn"> GET STARTED </a>
  </div>
</div>
