<section class="block block--dark block--stretched-left hero">
  <div class="container grid grid--1x2">
    <div class="hero__header">
      <h2 class="hero__heading">Cloud Hosting for Pros</h2>
      <p class="hero__description">
        Deploy your websites in less than 60 seconds.
      </p>
      <a href="#" class="btn btn--block btn--accent btn--stretched hero__btn"
        >GET STARTED</a
      >
    </div>
    <img class="hero__img" src="./images/banner.png" alt="" />
  </div>
</section>
